.logo {
  width: 140px;
}
.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  color: #fff;
}

.hearer-bottom {
  background-color: #232f23;
}

.hearer-bottom ul {
  list-style: none;
  padding: 5px 30px 10px 30px;
  margin: 0;
  display: flex;
  align-items: center;
}

.hearer-bottom ul li {
  margin-right: 20px;
  color: #fff;
  font-weight: 700;
}
.bottomimg {
  width: 300px;
  height: 20px;
}

.header-search {
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex: 1;
}

.header-search input {
  height: 20px;
  padding: 10px;
  outline: 0;
  width: 80% !important;
}
.header-optionbasket a {
  color: #fff;
}

.search-icon {
  padding: 10px;
  height: 10px;
  background-color: rgb(158, 136, 93);
  color: #fff;
}

.header-nav {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.headerspan-one {
  font-size: 10px;
}
.headerspan-two {
  display: block !important;
  font-size: 13px;
  font-weight: 700;
}
.hearder-option {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.header-optionbasket {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
