.checkOut {
  display: flex;
  padding: 20px;
}

.adds {
  width: 20%;
  margin-bottom: 20px;
}

.checkoutTitle {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.checkoutProduct img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}
.checkoutProduct-info {
  padding-left: 20px;
}

.infoCheckoutproduct-title {
  font-size: 17px;
  font-weight: 800;
}

.infoCheckoutproduct-price {
  margin: 20px 0px;
}

.checkoutProduct-info button {
  background-color: #f0c14b;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.checkout-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px 20px 40px 20px;
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 10px;
  position: sticky;
  top: 100px;
}

.sub-total {
}

.subtotal-gift {
}

.checkout-right button {
  background-color: #f0c14b;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
}
