.product-wrap {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto auto;
  margin-top: -300px;
}
.product img {
  width: 100%;
}
.product {
  background-color: #fff;
  margin: 0 5%;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 10px rgb(0 0 0 /37%);
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.product h3 {
  margin-bottom: 0px;
}
.product p {
  color: #cd9042;
  margin-bottom: 10px;
}
.product button {
  background-color: #cd9042;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
}
